body{
    width: 100%;
    margin: 0;
}
.container{
    width: 100%;
    
}
.top{
    position: relative;
    top:0px;
    width: 100%;
    height: 6vw;
    background-color:#ee4d2d;
    
}
#bar-top{
    position: absolute;
    top:0;
    width: 100%;
    height: 30%;
}
#bar-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 70%;
}
.select{
    position: absolute;
    left:46vh;
}
.shopee_logo{
    position: absolute;
    top: 18%;
    left:46vh;
    width: 160px;
    color:white;

}
.link{
    text-decoration: none;
    color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.spliter{
    color: white;
}